body {
	top:0;
	left:0;
	font-family: sans-serif;
	font-weight: 300;
	background-color: #222222;
	color: #fff;
	margin: 0;
	padding:0;
	overflow: hidden;
	position:fixed;
}

#downArrow{

	background-image: url(../images/arrow.png); 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
	position:fixed;
	height:100em; 
	width:100em;
	margin:0;
	padding:0;
	top:0;
	left:0;
	opacity: 0.5;
	z-index:-1;
}

em {
	font-style:  italic;
}

#content {
	margin:.4em 0 0 1em;
	position: absolute;
	top: 10px;
	width:100%;
	
	text-align: left;
	z-index: 500;
	display:block;
	height:100%;
	overflow:auto;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
	-webkit-scrollbar:none;
}
#header{
	top:0;
	left:0;
	position:fixed;
	z-index:1000;
	width:100%;
	margin:0;
	padding:1em;
	height:3em;
	/*background-color:#FFFFFF;	*/
	min-width:250px;
	color:#000000;
}
#social{
	color:#ffffff;
	margin: 0em 2em 0em 0em;
	padding:0em;
	float:right;
}

#copy{
	border:0px solid blue;
	padding:0;
	margin:0;
	height:110%;
	width:500px;
	position:relative;
	font-weight:300;
	color:#cccccc;
	z-index:200;
}
#copy strong{
	font-weight:600;
}
#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }

h1{
	padding:2.8em 0 2em 0;
	font-size:1.7em;
	line-height:1.4em;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
		color:#ffffff;

}

.smallcaps{
	font-varient:small-caps;
	font-size:.7em;	
}

.smallcaps a:link{
	color:#ffffff;
	  text-decoration: none;
  	border-bottom: 1px dotted;

} 

.smallcaps a:hover{
	color:#22222;
} 

.smallcaps a:visited{
	color:#ffffff;
} 

h2{
	font-size:.7em;	
	font-family: 'Open Sans', sans-serif;
	padding:0 0 4em 0;
}
p{
	padding:0 0 50em 0;
	font-size:.8em;
	line-height:1.5em;
	font-family: 'Open Sans', sans-serif;
}
p img{
	max-width:100%;
	padding:1em 0 0 0;
}

.movie{
	display:inline-block;
	margin:3em 0 0 0;
	padding:0em;
	/*border:1px red solid;*/
	width:500px;
	
	text-align:center;
}

.movie iframe{
	width:500px;
	height:calc(500*0.5625px); /* 16:9 ratio */
}
.movie .caption{
	display:inline-block;
	margin:0em;
	padding:0;
	width:80%;
	/*border:1px orange solid;*/
	font-size:.8em;
	font-weight:300i;
	font-style: italic;
	clear:both;
}

/* Modal overlay while loading */
.modal_loading {
    display:    none;
    position:   fixed;
    z-index:    8000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0,0,0,.8) 
                url('../images/loading_b.gif') 
                50% 50% 
                no-repeat;
}

/* Modal overlay while loading */
.modal_error {
    display:    none;
    position:   fixed;
    z-index:    90000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0,0,0,1) 
                50% 50% 
                no-repeat;
	text-align:center;
	font-size:2em;
	padding:20% 0 0 0%;
}

/* When the body has the modal, scrollbar off with overflow:hidden */
body.modal_loading{
    overflow: hidden;   
}
body.modal_error {
    overflow: hidden;   
}

.video{
	max-width:75%;
}

/* Anytime the body has the loading class, modal visible */
body.loading .modal_loading {
    display: block;
}

/* Anytime the body has the loading class, modal visible */
body.error .modal_error {
    display: block;
}

#footer{
	position:relative;
	margin:0 auto 0 auto;
	top:-4em;
	left:0;
	align:center;
	text-align:center;
	width:100vw;

	font-size:1em;	
	font-family: 'Open Sans', sans-serif;
	padding:0 0 0;

}